@implements IDisposable

<div class="rounded-pill text-light py-1 px-4" style="background-color: green; width: fit-content; float: right; font-weight: bold; font-size: xx-large;">@TimeSpan.FromSeconds(SecondsRemaining).ToString()</div>

@code {
    private int SecondsRemaining {get;set;}

    [Parameter]
    public required Session Session {get;set;}

    protected override void OnInitialized()
    {
        Session.TimerTick += OnTimerTick;
        SecondsRemaining = Session.TimeLeft;
    }

    private void OnTimerTick(int secondsRemaining) {
        SecondsRemaining = secondsRemaining;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        Session.TimerTick-=OnTimerTick;
    }
 }