@inject Microsoft.EntityFrameworkCore.IDbContextFactory<QuazeDbContext> dbFactory
<div>
    <label class="">
        @if (DisplayText is null) {
            <span>Thumbnail</span>
        }
        else
        {
            <span>@DisplayText</span>
        }
        <InputFile OnChange="UploadFile" class="form-control" />
    </label>
</div>

@if(UploadInProgress) {
    <p>Uploading</p>
}
    


@code {
    [Parameter]
    public required Action<Guid> OnImageChanged {get;set;}
    [Parameter]
    public string? DisplayText { get; set; }

    private bool UploadInProgress {get;set;}

    private Guid? ImageGuid {get;set;}

    private async Task UploadFile(InputFileChangeEventArgs args) {
        UploadInProgress = true;
        StateHasChanged();
        var db = await dbFactory.CreateDbContextAsync();
        DbImage image = new();
        
        //10 MB
        var stream = args.File.OpenReadStream(10*1024*1024);
        var mem = new MemoryStream() {Capacity = (int)args.File.Size};
        await stream.CopyToAsync(mem);
        image.Data = mem.ToArray();
        image.Id = Guid.NewGuid();
        db.Images.Add(image);
        await db.SaveChangesAsync();

        await db.DisposeAsync();
        await mem.DisposeAsync();
        await stream.DisposeAsync();

        

        ImageGuid = image.Id;

        UploadInProgress = false;
        StateHasChanged();

        await Task.Run(()=>OnImageChanged?.Invoke(image.Id));
    }
}


