.options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.quiz-check {
    background-color: lightgray;
    user-select: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10pt;
}

.quiz-check.correct {
    border: 5px solid green;
}

.quiz-check.incorrect {
    border: 3px solid red;
}

.quiz-check input {
    display: none;
}

.quiz-check:has(> input:checked) {
    background-color: #938079;
    color: white;
    border: 2px solid #665954;
}