@page "/createquiz"

<div class="container-fluid">
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="extendTitle" placeholder="Enter Title...">
        <small id="extendTitle" class="form-text text-muted">Title of your quiz.</small>
    </div>
    <div class="container">
        <input placeholder="Title..."/>
        <select>
            <option id="mc" selected>Multiple choice</option>
            <option id="ow">Open-word</option>
        </select>
    </div>
</div>

@code {
    // private Quiz quiz;

    // private void ChangeType(int index, ChangeEventArgs e)
    // {
    //     if (quiz.Questions[index] is MultipleChoiceQuestion && e.Value.ToString() == "ow")
    //     {
    //         // Render type specific inputs
    //         StateHasChanged();
    //     }
    //     else if (quiz.Questions[index] is OpenWordQuestion && e.Value.ToString() == "mc")
    //     {
    //         // Render type specific inputs
    //         StateHasChanged();
    //     }
    // }
}
