@page "/"
@inject SessionService sessionSrv
@inject NavigationManager nav

<PageTitle>Home</PageTitle>

<h1>Quaze</h1>

<form @onsubmit="OnSubmit">
    <label>Join a Quiz:</label>
    <input type="text" placeholder="Quiz ID" @bind-value="QuizId"/>
    <button type="submit">Join</button>
</form>


@code {
    [SupplyParameterFromForm]
    private string QuizId {get; set;} = "";

    private void OnSubmit() {
        if(true || sessionSrv.Sessions.Any(x=>x.Id == QuizId)) {
            nav.NavigateTo($"/quiz/{QuizId}");
        }
    }
}
    
