@page "/"
@inject SessionService sessionSrv
@inject NavigationManager nav

<PageTitle>Home</PageTitle>

<h1>Quaze</h1>

<EditForm Model="this" OnValidSubmit="OnSubmit" FormName="JoinQuizForm">
    <label>Join a Quiz:</label>
    <InputText class="@("form-control " + (DoesntExist?"border border-danger":""))" placeholder="Quiz ID" @bind-Value="QuizId"/>
    @if(DoesntExist) {
        <label class="text-danger">QUiz doesn't exist</label>
    }
    <button class="btn btn-primary my-3" type="submit">Join</button>
</EditForm>


@code {
    [SupplyParameterFromForm]
    private string QuizId {get; set;} = "";


    private bool DoesntExist = false;


    private void OnSubmit() {
        if(sessionSrv.Sessions.Any(x=>x.Id == QuizId)) {
            nav.NavigateTo($"/quiz/{QuizId}", true);
        }
        else {
            DoesntExist = true;
        }
    }
}
