@page "/"
@inject Quaze.SessionService tService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Quaze</h1>

<button class="">Create Quiz</button>
<button>Join Quiz</button>

<p>Seconds elapsed: @sec</p>

@code {
    private int sec=0;

    protected override void OnInitialized() {
        
    }
}
