.quiz-check {
    background-color: lightgray;
    user-select: none;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3pt 0;
    position: relative;
    background-color: white;
    width: 100%;
}

.quiz-check.correct {
    border: 5px solid green;
}

.quiz-check.incorrect {
    border: 3px solid red;
}

 p, span, a {
    font-size: 1.5rem;
}